body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
}

header {
  background: #222;
  color: white;
  padding: 40px;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #ddd;
  margin: 8px;
  padding: 8px;
  border-radius: 5px;
}

footer {
  margin-top: 20px;
  color: #555;
}
